#next {
    visibility: hidden;
}

#exit {
    visibility: hidden;
}

h2 {
    margin: 50px;
    text-align: center;
}

input[type=text] {
    width: 100%;
    padding: 10px 10px; 
    box-sizing: border-box;
    text-align: center;
  }